.quizzesContainer {
  margin: 2.4rem auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  @media (min-width: 600px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.searchContainer {
  margin: 3rem auto;
  display: flex;
  justify-content: center;

  input {
    height: 5rem;
    border-radius: 5rem;
    text-align: center;
    font-size: 3rem;
    width: 60rem;
    max-width: 90%;
    background: #eee;
  }

  button {
    font-size: 2.4rem;
    padding: 1rem 2rem;
    border-radius: 5rem;
    margin-left: 2rem;
    color: #555;
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  }
}
