.quizContainer {
  padding: 2rem;
  border-radius: 3rem;
  position: relative;
  overflow: hidden;

  .confirmDeleteContainer {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .confirmDeleteButtonsBox {
      padding: 2rem;
      background: white;
      border-radius: 1rem;

      & > button {
        border-radius: 5px;
        font-size: 1.4rem;
        padding: 1rem 1.5rem;
        margin: 0 1rem;
        cursor: pointer;

        &:nth-child(1) {
          background: #f44336;
          color: white;
        }

        &:nth-child(2) {
          background: #8bc34a;
        }
      }
    }
  }

  .updateActions {
    display: flex;
    justify-content: flex-end;

    button {
      padding: 5px 8px;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      &.editButton {
        background: #2196f3;
        margin-right: 1rem;
      }

      &.deleteButton {
        background: #f44336;
      }
    }
  }

  .creatorContainer {
    margin-bottom: 2rem;
    align-items: center;
  }

  .avatarContainer {
    width: 5rem;
    height: 5rem;
    img {
      cursor: pointer;
      max-width: 100%;
      border-radius: 6rem;
      border: 2px solid #fff;
    }
  }

  .nameDateContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h6 {
      font-family: 'Karla';
      font-weight: 700;
      cursor: pointer;
      font-size: 1.8rem;
      // margin-bottom: 4px;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid #1f1f1f;
      }
    }
    p {
      font-size: 1.4rem;
      opacity: 0.8;
    }
  }

  .quizDetailsContainer {
    display: grid;
    grid-template-columns: 8rem 1fr;
    grid-gap: 1.6rem;
    align-items: center;

    .iconContainer {
      height: 80px;
      width: 80px;
      display: flex;
      justify-content: center;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
      }
    }
    h6 {
      line-height: 1.2;
      font-weight: 500;
      margin-bottom: 4px;
    }
    p {
      font-size: 1.6rem;
      opacity: 0.8;
    }
  }

  .buttonContainer {
    text-align: center;
    button {
      font-family: 'Rubik', sans-serif;
      background: rgba(255, 255, 255, 0.5);
      font-size: 1.6rem;
      margin: 2rem 0 0;
      padding: 1rem 2rem;
      border-radius: 1rem;
      cursor: pointer;
      transition: all 0.1s linear;
      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 2rem rgba(0, 0, 0, 0.2);
      }
      &.displayButton {
        cursor: default;
        pointer-events: none;
        &:hover {
          transform: none;
          box-shadow: none;
        }
      }
    }
  }
}
