* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  background: $body-color;
  color: $black;
}

a {
  color: initial;
  text-decoration: none;
}
