@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:500,700&display=swap');

body {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
}
