.titleContainer {
  margin: 48px auto 0;
  text-align: center;
  max-width: 92rem;

  .picture {
    border-radius: 20rem;
    width: 10rem;
    height: 10rem;
    margin-bottom: 2rem;
    border: 2px solid #000;
  }
}
