.quizzesContainer {
  margin: 2.4rem auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  @media (min-width: 600px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

