.createContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;

  .titleContainer {
    margin-top: 4rem;
    max-width: 100%;
    text-align: center;
    textarea {
      // height: 4.9rem;
      padding: 1rem 0;
      width: 60rem;
      max-width: 100%;
      max-width: 100%;
      border-bottom: 3px solid #1f1f1f;
      text-align: center;
      background: transparent;
      font-size: 3rem;
      resize: none;
      overflow: hidden;
    }

    h6 {
      margin-top: 1rem;
    }
  }

  & > button {
    background: transparent;
    border-bottom: 2px solid #1f1f1f;
    color: #1f1f1f;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
    padding: 0.5rem;
    margin-bottom: 4rem;
  }

  & > h5 {
    margin: 3rem 0 2rem;
  }

  & > h6 {
    margin: 4rem 0 2rem;
  }

  .colorSchemesContainer {
    padding: 0 1rem;
    display: grid;
    grid-gap: 1rem;
    width: 50rem;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));

    & > div {
      width: 5rem;
      height: 5rem;
      border-radius: 5rem;
      cursor: pointer;
      border: 2px solid transparent;
      &:hover {
        border: 2px solid #777;
      }

      &:nth-child(1) {
        background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
      }
      &:nth-child(2) {
        background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
      }
      &:nth-child(3) {
        background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
      }
      &:nth-child(4) {
        background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      }
      &:nth-child(5) {
        background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
      }
      &:nth-child(6) {
        background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
      }
      &:nth-child(7) {
        background: linear-gradient(120deg, #ff9a9e 0%, #fad0c4 100%);
      }
    }
  }

  .categoriesContainer {
    padding: 0 1rem;
    display: grid;
    width: 50rem;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));

    & > img {
      padding: 3px;
      width: 5rem;
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 5rem;
      &:hover {
        border: 2px solid #777;
      }
    }
  }

  .goToMyQuizzes {
    padding: 2rem;
    margin-top: 4rem;
    background: #4caf50;
    color: #fff;
    border: none;
    border-radius: 1rem;
  }

  .createQuizButton {
    padding: 2rem;
    margin-top: 4rem;
    background: #8fd3f4;
    border: none;
    border-radius: 1rem;

    &:disabled {
      color: #ccc;
      background: #999;
      cursor: default;
    }
  }

  .quizCardContainer {
    width: 500px;
    max-width: 100%;
  }

  .errorsContainer {
    margin-top: 2rem;
    & > p {
      text-align: center;
      color: red;
    }
  }

  h6 {
    &.successText {
      color: #4caf50;
    }
    &.failText {
      color: #f44336;
    }
  }
}
