.questionCardContainer {
  margin-bottom: 2rem;
  border-radius: 3rem;
  padding: 1.8rem;
  background: #efefef;

  .top {
    display: flex;
    justify-content: center;

    h3 {
      margin-right: 2rem;
    }
    h5 {
      flex: 1;
      text-align: center;
      font-weight: 500;
      padding-right: 3.2rem;
    }
  }

  .bottom {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      border: 1px solid #aaa;
      border-radius: 2rem;
      padding: 1rem 1.4rem;
      cursor: pointer;
      margin: 5px 0;
      width: 20rem;
      text-align: center;
      transition: all 0.1s;
      background: #fff;
      &.option {
        &:hover {
          border: 1px solid #98ceff;
          background: #98ceff;
        }
      }

      &.correct {
        border: 1px solid #4caf50;
        background: #4caf50;
        color: #fff;
      }
      &.wrong {
        border: 1px solid #f43636;
        background: #f43636;
        color: #fff;
      }
    }
  }
}
