.questionsContainer {
  max-width: 72rem;
  margin: 2.4rem auto 0;
  position: relative;
}

.correctAnswers {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  top: 0;
  min-height: 6.2rem;
  h1 {
    padding: 1rem;
    border-radius: 0 0 2rem 2rem;
    background: #fefefe;
  }
}

.youGot {
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;

  .takeMore {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    h2 {
      color: #fefefe;
      border-radius: 2rem;
      font-size: 3rem;
      font-weight: 500;
      background: #3f51b5;
      padding: 2rem;
      cursor: pointer;
    }
  }
}
