.container {
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 1;
  .box {
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    padding: 4rem;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    label {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      font-size: 2rem;

      input {
        background: rgba(255, 255, 255, 0.3);
        text-align: center;
        font-size: 2.4rem;
        padding: 5px;
        border-radius: 1rem;

        &:disabled {
          color: #aaa;
        }
      }
    }
    .error {
      color: red;
      text-align: center;
    }
    .success {
      color: #4caf50;
      text-align: center;
    }
    & > button {
      border-radius: 1rem;
      margin-top: 1rem;
      padding: 1rem;
      color: #333;
      font-size: 2rem;
      background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

      &:disabled {
        color: #aaa;
        background: #ddd;
      }
    }
  }
}
