.container {
  margin-top: 3rem;
  background: #e5e5e5;
  width: 48rem;
  max-width: 100%;
  padding: 2rem;
  border-radius: 2rem;

  .top {
    display: flex;
    justify-content: space-between;

    h5 {
      cursor: pointer;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;

    & > textarea {
      padding: 1rem 0;
      // height: 4.9rem;
      width: 60rem;
      max-width: 100%;
      max-width: 100%;
      border-bottom: 2px solid #1f1f1f;
      text-align: center;
      background: transparent;
      font-size: 3rem;
      resize: none;
      overflow: hidden;
      margin-bottom: 1rem;
    }

    .options {
      display: flex;
      flex-direction: column;
      align-items: center;

      .option {
        margin: 1rem 0;
        display: flex;
        align-items: flex-end;
        width: 80%;

        h6 {
          font-weight: 500;
          margin-right: 1.5rem;
          cursor: pointer;
          padding: 5px;
          border: 1px solid transparent;
          width: 3rem;
          height: 3rem;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          &.correctAnswer {
            color: white;
            background: green;
            border: 1px solid green;
          }
        }

        input {
          flex: 1;
          background: transparent;
          border-bottom: 1px solid #1f1f1f;
          text-align: center;
          font-size: 1.8rem;
        }

        h5 {
          padding: 5px;
          margin-left: 1rem;
          line-height: 0.3;
          cursor: pointer;
        }
      }

      button {
        margin-top: 2rem;
        color: #1f1f1f;
        background: #aaa;
        padding: 1rem;
        font-weight: 700;
        border-radius: 2rem;
        cursor: pointer;
      }
    }
  }
}
