.iconContainer {
  width: 6rem;
  height: 6rem;
  border-radius: 5rem;
  background-color: #000;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid #000;

  .image {
    max-width: 100%;
  }

  .bar {
    height: 4px;
    background: #fff;
    margin: 2px 0;
    width: 2.8rem;
  }
}

.menuContainer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  z-index: 1;
  .menu {
    background: #000;
    color: #fff;
    padding: 2rem;
    border-radius: 3rem 0 3rem 3rem;

    & > h2 {
      cursor: pointer;
      border-bottom: 4px solid transparent;
      margin-bottom: 5px;
      &:hover {
        border-bottom: 4px solid #fff;
      }
    }
  }
}
